{% extends "base.html" %}
{% block meta %}
<style type="text/css" media="screen">
.datagrid tr:nth-child(even) {
background: #CCC;
}
.datagrid td {
padding-left:1em;
padding-right:1em;
}
</style>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js'></script>

{% endblock  %}
{% block header %}
<h1>Bank Import Categories</h1>
{% endblock %}
{% block content %}
<div ng-app='CategoryApp'>
<div ng-controller='CategoryListCtrl'>
<a ng-click="createCategory()">New Category</a>
<table border='0' cellspacing='0' class='datagrid'>
<tr>
<td>Id</td>
<td>Payee</td>
<td>Category</td>
<td>Regex</td>
<td>&nbsp;</td>
</tr>
<tr ng-repeat='c in categories'>
{% raw %}
<td>{{c.id}}</td>
<td>{{c.payee}}</td>
<td>{{c.category}}</td>
<td>{{c.regex}}</td>
<td><a ng-click="editCategory(c.id)">Edit</a> <a ng-click="deleteCategory(c.id)">Delete</a></td>
{% endraw %}
</tr>
</table>
</div>
</div>
<script src='/static/js/category.js'></script>
{% endblock %}

